@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: rgba(152, 238, 238, 0.224);
}

.heading {
    margin-top: 100px;
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    color: rgb(11, 11, 102);
}

.btn{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
    width: 50px;
    height: 1px;
    background-color: rgb(219, 157, 76);
    margin: 20px auto 10px auto;
}

.btn button{
    margin: 5px 15px;
    font-size: 18px;
    padding: 3px 10px;
    background-color: white;
    color: rgb(219, 157, 76);
    border-color: rgb(219, 157, 76);
    border-bottom-color: rgb(70, 64, 64);
    border-radius: 8px;
    box-shadow: 1px 1px 1px 0.7px;
    cursor: pointer;
}

.container{
    margin-top: 100px;
    padding: 0px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content{
    padding: 5px;
    width: 600px;
    margin: 10px;
    background-color: rgba(239, 243, 243, 0.673);
    display: flex;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 5px solid rgb(219, 157, 76);
}

.right-top{
    display: flex;
    align-items: center;
    height: 45px;
    justify-content: space-between;
    margin: 0px 20px 15px 20px;
    border-bottom: 1px solid rgba(96, 96, 207, 0.503);
}


h3{
    text-transform: uppercase;
    font-size: 22px;
    color:  rgb(11, 11, 102);
}
h6{
    font-size: 20px;
    color:rgb(219, 157, 76);
}
p{
    margin: 5px 20px 0px 20px;
    font-size: 17px;
    color: rgba(11, 11, 157, 0.389);

}